{% extends 'base.html' %}
{% load static %}

{% block content %}

  <h1>Courses 
    <a href="{% url 'coursePlanner:newCourse' %}">
      <img src="{% static 'images/plus.svg' %}" class="add-btn"></a>
  </h1>

  <section class="courseCards">

    {% for course in courses %}
    <a href="{% url 'coursePlanner:course' course.id %}">
      <div class="courseCard {% cycle 'blue-purple'  'coral' 'sky-blue' 'pink-purple' %}">
        <h1>{{ course }} </h1>
        <h2>{{ course.courseName }} </h2>
      </div>
    </a>
    {% endfor %}

  </section>

{% endblock content %}