<!-- <style>
  .extra {
    border: 0px solid black;
  }
</style> -->


{% extends 'base.html' %}

{% block content %}

<h1>{{ course.courseCode }}: {{course.courseName }}</p>

<h3>Course Contacts</h3>
<ul>
  {% for contact in contacts %}     
    {% block editContact %}
    <li>
      {{ contact.role }}
      <ul>
        <li>
        Name: {{ contact.name }}
        </li>
        <li>
        Email: {{ contact.email }}
        </li>
        <li>
        Location: {{ contact.location }}
        </li>
      </ul>
    </li>
    <a href="{% url 'coursePlanner:editContact' course_id=course.id contact_id=contact.id %}">
     <button>Edit</button></a>
    {% endblock editContact %}
  {% endfor %}
</ul>
{% block contactForm %}
<a href="{% url 'coursePlanner:newContact' course.id %}">
  Add a new contact:</a>
{% endblock contactForm %}


<h3>Links</h3>
<ul>
  {% for link in links %}
    <li>
      {% block editLinkForm %}
      <a href={{link.link}}>{{ link.title }}</a>
      <a href="{% url 'coursePlanner:editLink' course_id=course.id link_id=link.id %}">
        <button>Edit</button></a>
      {% endblock editLinkForm %}
    </li>

  {% endfor %}
</ul>   
 
{% block linkForm %}
<p><a href="{% url 'coursePlanner:newLink' course.id %}">
  Add a new link:
</a></p>
{% endblock linkForm %}


<h3>Assessments</h3>
<table border=1>
  <tr>
    <th>Task</th>
    <th>Weighting</th>
    <th>My Grade</th>
  </tr>
  {% for assessment in assessments %}
    <tr>
      {% block editAssessment %}
        <td>{{ assessment.task }}</td>
        <td>{{ assessment.weighting }}%</td>
        <td>{{ assessment.myGrade }}%</td>
        <td><a href="{% url 'coursePlanner:editAssessment' course_id=course.id assessment_id=assessment.id %}">
        <button>Edit</button></a></td>
        <td><button>delete</button></td>  
      {% endblock editAssessment %}
    </tr>
  {% endfor %}

{% block assessmentForm %}
</table>
<p><a href="{% url 'coursePlanner:newAssessment' course.id %}">
  Add a new assessment:
</a></p>
{% endblock assessmentForm %}


<h3>Queries</h3>
<ul>
  {% for query in queries %}
    <li>
      {% block editQuery %}
      {{ query }}
      <a href="{% url 'coursePlanner:editQuery' course_id=course.id query_id=query.id %}">
        <button>Edit</button></a>
      {% endblock editQuery %}
    </li>
  {% endfor %}
</ul>
{% block queryForm %}
<a href="{% url 'coursePlanner:newQuery' course.id %}">
  Add a new query:
</a>
{% endblock queryForm %}


{% endblock content %}
