{% extends 'coursePlanner/course.html' %}

{% block editQuery %}

  {% if query.id == queryToEdit.id %}  
  
    <form action="{% url 'coursePlanner:editQuery' course_id=course.id query_id=query.id %}" method="post">
      {% csrf_token %}
      {{ form.text }}
      {% include 'coursePlanner/form-edit.html' %}


  {% else %}
    {{ query }}
    <a href="{% url 'coursePlanner:editQuery' course_id=course.id query_id=query.id %}">
      <button>Edit</button></a>

  {% endif %}
 
{% endblock editQuery %}

