{% extends 'coursePlanner/course.html' %}

{% block editLinkForm %}

  {% if link.id == linkToEdit.id %}  
    <!-- bring up form to edit link -->
    <form action="{% url 'coursePlanner:editLink' course_id=course.id link_id=link.id %}" method="post">
      {% include 'coursePlanner/form-edit.html' %}


  {% else %}
    <a href={{link.link}}>{{ link.title }}</a>
    <button><a href="{% url 'coursePlanner:editLink' course_id=course.id link_id=link.id %}">
    Edit</a></button>

  {% endif %}
 
{% endblock editLinkForm %}

