{% extends 'coursePlanner/course.html' %}

{% block editAssessment %}

  {% if assessment.id == assessmentToEdit.id %}  

    <form action="{% url 'coursePlanner:editAssessment' course_id=course.id assessment_id=assessment.id %}" method="post">
      {% csrf_token %}
      <tr>
        <td>{{ form.task }}</td>
        <td>{{ form.weighting }}%</td>
        <td>{{ form.myGrade }}%</td>

        <td><button name="submit">Make changes</button></td>


        {{ form.errors }}

      </form> 


  {% else %} 
    <td>{{ assessment.task }}</td>
    <td>{{ assessment.weighting }}%</td>
    <td>{{ assessment.myGrade }}%</td>
    <td><a href="{% url 'coursePlanner:editAssessment' course_id=course.id assessment_id=assessment.id %}">
     <button>Edit</button></a></td>

  {% endif %}


{% endblock editAssessment %}

