{% extends 'coursePlanner/course.html' %}

{% block newAssessment %}
  <!-- form to add a new assessment-->
  <form action="{% url 'coursePlanner:newAssessment' course.id %}" method="post">
    {% csrf_token %}
    <tr>
      <td>{{ form.task }}</td>
      <td>{{ form.weighting }}%</td>
      <td>{{ form.myGrade }}%</td>
    </tr>
  </table>

  {{ form.errors }}

  <p><button name="submit">Add assessment</button>
  </form> 
<a href="{% url 'coursePlanner:course' course.id %}">
  <button>Cancel</button>
</a></p>

{% endblock newAssessment %}



