{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coordinate</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
  {% block head %} {% endblock head %}
</head>

<body>
  <nav class="navbar">

    <ul class="navbar-nav">

      <li class="nav-item logo">
        <a href="/" class="nav-link">
          {% include 'coordinateLogo.html' %}
        </a>
      </li>

      <li class="nav-item courseMenu"> 
        <a href="{% url 'coursePlanner:courses' %}" class="nav-link">
          {% include 'courseIcon.html' %}
        </a>
        <ul class="courseMenuContent">
          <h2>Courses</h2>
          {% for course in courses %}
          <li>
            <a href="{% url 'coursePlanner:course' course.id %}" class="course">{{ course }}</a>
          </li>
          {% endfor %}
          <li>
            <a href="{% url 'coursePlanner:newCourse' %}">
              {% include 'addBtn.html' %}
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item termMenu"> 
        <a href="#" class="nav-link">
          {% include 'termIcon.html' %}
        </a>
      </li>

      {% if user.is_authenticated %}  
      <li class="nav-item">
        {{ user.username }}
      </li>
      <li class="nav-item">
        <a href="{% url 'users:logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{% url 'users:register' %}">Register</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'users:login' %}">Login</a>
      </li> 
    {% endif %}
    </ul>
  </nav>

  <main>

    {% block page_header %}{% endblock page_header %}
    {% block content %}{% endblock content %}
  </main>
  
 
  

  
  <script src="{% static 'css/base.js' %}""async defer></script>

</body>

</html>