{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coordinate</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
  {% block head %} {% endblock head %}
</head>

<body>
  <article class="glass">
      <nav class="navbar">

        <div class="nav-item nav-logo">
  
          <a href="/">
            <!-- {% include 'coordinateLogo.html' %} -->
            <img src="{% static 'images/logo.svg' %}" class="logo">
          </a>
  
          <div class="nav-cursor"></div>
        </div>
  
        <div class="nav-item nav-courses courseMenu"> 
          
          <a href="{% url 'coursePlanner:courses' %}">
            {% include 'courseIcon.html' %}
          </a>
  
          <div class="nav-cursor"></div>
  
          <div class="courseMenuContent">
            <h2>Courses</h2>
            {% for course in courses %}
            <div class="course">
              <a href="{% url 'coursePlanner:course' course.id %}" class="course">{{ course }}</a>
            </div>
            {% endfor %}
            <div>
              <a href="{% url 'coursePlanner:newCourse' %}">
                {% include 'addBtn.html' %}
              </a>
            </div>
          </div>
        </div>
  
        <div class="nav-item nav-term"> 
  
          <div class="nav-cursor"></div>
  
          <a href="#">
            {% include 'termIcon.html' %}
          </a>
        </div>
  
        {% if user.is_authenticated %}  
        <div class="nav-item">
          <div class="nav-item">
            {{ user.username }}
          </div>
          <div class="nav-item">
            <a href="{% url 'users:logout' %}">Logout</a>
          </div>
        </div>
        
        {% else %}
        <div class="nav-item">
          <div class="nav-item">
            <a href="{% url 'users:register' %}">Register</a>
          </div>
          <div class="nav-item">
            <a href="{% url 'users:login' %}">Login</a>
          </div> 
        </div>
  
        {% endif %}
      </nav>
  
    
    <main>
      {% block page_header %}{% endblock page_header %}
      {% block content %}{% endblock content %}
    </main>

  </article>

  <script src="{% static 'css/base.js' %}""async defer></script>

</body>

</html>