{% extends 'coursePlanner/course.html' %}

{% block newContact %}
<!-- form to add a new contact -->
<form action="{% url 'coursePlanner:newContact' course.id %}" method="post" class="new-card"> 
  {% csrf_token %}
  <div class="card translucent">
    <header>
      {{ form.role }}
    </header>
      
    <div class="card-text-medium">{{ form.name }}</div>
    <div class="card-text-small">{{ form.email }}</div>
    <div class="card-text-small">{{ form.location }}</div>

    {% include 'coursePlanner/form-add.html' %}
  </div>


{% endblock newContact %}