@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

:root {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    --transition-speed: 300ms;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.5rem;
    text-align: left;
}

h3 {
    font-size: 1rem;
    text-align: left;
}


button, input[type="submit"], input[type="reset"] {
	background: none;
	color: #7568f2;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
}


a {
    color: #7568f2;
    text-decoration: none;
}

input {
    background: rgba(255,255,255,0.37);
    border-radius: 1em;
    border: 0;
    padding: 0.6em;
    margin: 0.1em;
    outline: none;
    transition: all 300ms ease-in-out
}

input:focus, textarea:focus {
    outline: none;
    border: 0;
    box-shadow: none;
    background-color: none;


}

.assessment-table input {
    text-align: center;
}


::placeholder {
    font-family: 'Nunito', sans-serif;
    color: #979797;
    font-size: 16px;
}

html {
    /* background-image: linear-gradient(225deg, #E0C3FC 0%, #8EC5FC 59%, #DAE9F9 100%); */
    /* background-image: url(../violetBlue.png); */
    background-image: url(../cornflower.png); 
    /* background-image: url(../wildRice.png);  */
    /* background-image: url(../prelude.png); */
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-width: 100vw; */
    min-height: 100vh;
}

.glass {
    background-image: linear-gradient(134deg, rgba(255,255,255,0.29) 0%, rgba(255,255,255,0.38) 100%);
    border-radius: 1.6rem;
    height: 90vh;
    width: 90%;
    max-width: 90em; 
    max-height: 60em;
    backdrop-filter: blur(0.6em);
    display: flex;
    /* border: 2px solid purple; */
}

main {
    padding: 1em;
    flex-grow: 1;
    /* background: rgba(255,255,255,0.33); */
    /* box-shadow: 13px 3px 26px 0 #B3C1EC; */
    /* border-radius: 37px; */
    margin: 2rem;
    overflow: auto;
    /* border: 2px solid purple; */
}

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-thumb{
    background: #A3D8E5;
    background-image: linear-gradient(180deg, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.15) 100%);
    border-radius: 2rem;
    /* background-image: linear-gradient(45deg, #CE9FFC 0%, #7367F0 100%); */
}
::-webkit-scrollbar-track {
    background: #A7E1F1;
    background-image: linear-gradient(180deg, rgba(255,255,255,0.20) 0%, rgba(255,255,255,0.25) 100%);
    border-radius: 2rem;
    backdrop-filter: blur(0.1rem);
  }


/* NAVBAR */

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6em;
    border-radius: 1.5rem 0 0 1.5rem; 
    padding: 2em;
    /* -webkit-backdrop-filter: blur(0.1rem); */
    /* backdrop-filter: blur(0.1rem); */
    background-image: linear-gradient(138deg, rgba(255,255,255,0.60) 0%, rgba(255,255,255,0.20) 100%);
}

.nav-item {
    /* border: 2px solid purple; */
    margin-bottom: 2em;
}



.nav-item:last-child {
    margin-top: auto;
}

.nav-cursor {
    margin: 0 auto;
    width: 1%;
    height: 0em;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #7367F0 0%, #CE9FFC 100%);
    flex-grow: 0;
    transition: 400ms;
}

.nav-courses:hover .nav-cursor {
    width: 100%;
    height: 0.3em;
}


.nav-term:hover .nav-cursor {
    width: 100%;
    height: 0.3em;
}

.nav-logo:hover .nav-cursor {
    width: 100%;
    height: 0.3em;
} 

.nav-logo {
    transition: 500ms ease-out;
}
/* .nav-logo:hover {
    transform: rotate(360deg);
} */

.courseMenuContent {
    background-image: linear-gradient(172deg, rgba(255,255,255,0.80) 0%, rgba(255,255,255,0.20) 100%);
    box-shadow: 16px 16px 32px 0 #d1bfe9;
    border-radius: 59px 59px 59px 59px;
    display: none;
    padding: 1rem;
    width: 15vh;
    align-items: center;
    backdrop-filter: blur(8px);
}

/* COURSES VIEW */

.courseHeading {
    margin-top: 1em;
}

/* .courseCards  {
    display: flex;
    flex-direction: column;
} */

.courseCards a {
    text-decoration: none;
    /* font-size: 0.5rem; */
}

.courseCard {
    width: 80%;
    max-width: 80em;
    min-height: 15vh;
    border-radius: 1rem;
    padding: 1.5rem;
    color: white;
    left: 0rem;
    position: relative;
    transition: all 500ms ease;
    margin-top: 2em;
}

.courseCard:not(.translucent):hover {
    left: 3rem;
}

.blue-purple {
    background-image: linear-gradient(45deg, #CE9FFC 0%, #7367F0 100%);
    box-shadow: 0.4em 0.6em 1em 0 #806FF2;
}

.pink-purple {
    background-image: linear-gradient(45deg, #E2B0FF 0%, #9F44D3 100%);
    box-shadow: 0.4em 0.6em 1em 0 #A751D8;
}

.coral {
    background-image: linear-gradient(45deg, #FF7EB3 0%, #FF758C 100%);
    /* box-shadow: 0.4em 0.6em 1em  0 #FF7DAF; */
    box-shadow: 0 16px 32px 0 #F15D83;
}

.sky-blue {
    background-image: linear-gradient(45deg, #ABDCFF 0%, #0396FF 100%);
    box-shadow: 0.4em 0.6em 1em 0 #39ADFF;
}   

.teal {
    background-image: linear-gradient(45deg, #90F7EC 0%, #32CCBC 100%);
    box-shadow: 0.4em 0.6em 1em 0 #24a99c;
}


.translucent {
    background-image:  rgba(255,255,255,0.37);
    box-shadow: 0.4em 0.6em 1em 0 #a9acd8;
    backdrop-filter: blur(20em);
}

.add-btn {
    transition: 300ms ease-out;
}
.add-btn:hover {
    transform: scale(1.1);
}



/* COURSE VIEW */

h2 {
    margin: 0.5em 0;
}

h2 .add-btn{
    height: 1em;
}

/* course contacts */

.card-list {
    display: flex;
}

.card {
    padding: 1em;
    border-radius: 1rem;
    min-width: 18em;
    transition: 200ms;
}

.card i {
    color: rgba(255,255,255,0.37);
}

.card i:hover {
    color: white;
}

.card header {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 0.8em;
}

.card-text-medium {
    font-size: 1.2rem;
    color: white;
}

.card-text-small {
    font-size: 1.1rem;
    color: white;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -4em;
}

.new-card:only-child .card {
    margin-left: 0;
    background-color: #dbd6fb;
}

/* .card.translucent:nth-child(2) {
    margin-left: 0;
} */

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(3em);
}

/* links */
.link {
    /* padding: 1em; */
    padding: 0.7em;
    margin-bottom: 1em;
    background: rgba(255,255,255,0.37);
    box-shadow: 9px 7px 12px 1px #9AAFDD;
    border-radius: 2em;
    width: fit-content;
    display: flex;
    left: 0em;
    position: relative;
    transition: 200ms ease;
    max-width: 1100px;
}

.link p {
    font-size: 1.1rem;
    color: black;
    margin-right: 1em;
}

.link:hover {
    left: 1em;
}


.link input {
    width: 50vw;
    max-width: 900px;
}

.purple {
    color: #8b75f2;
    /* background-image: linear-gradient(225deg, #CE9FFC 0%, #7367F0 100%); */
}



/* assessments */
.assessment-table {
    margin: 1em 0;
    background-color: rgba(255,255,255,0.37);
    border-radius: 1em;
    border-spacing: 0;
    border-collapse: collapse;
    min-width: 40em;
    box-shadow: 9px 7px 42px -1px #9AAFDD;
}

th:first-child{
    border-top-left-radius: 0.9em; 
}

th:last-child{
    border-top-right-radius: 0.9em;
}

.assessment-header-row {
    background-image: linear-gradient(270deg, #7367F0 0%, #CE9FFC 100%);
    border-radius: 40px;
}

.assessment-table th,
.assessment-table td {
    padding: 0.5em;
    text-align: center;
}

.assessment-header-row th {
    color: white;
}

tr:hover {
    background-color: #b7d7f0;
}


/* QUERIES */
.query-container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

}

.query-bubble {
    background: rgba(255,255,255,0.37);
    box-shadow: 9px 7px 12px 1px #9AAFDD, inset 0 1px 10px 1px #ADBCEA;
    margin-right: 1em;
    padding: 0.7em;
    border-radius: 50%;
}

.query-bubble__question-mark,
.query-bubble__tick {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    background-image: linear-gradient(270deg, #7367F0 0%, #CE9FFC 100%);
    border-radius: 50%;
    color: white;
    cursor: pointer;

}


.query-bubble__tick {
    width: 2em;
    height: 2em;

}

.query {
    background: rgba(255,255,255,0.37);
    box-shadow: 9px 7px 12px 1px #9AAFDD;
    border-radius: 21px;
    padding: 1em;
    box-shadow: 9px 7px 12px 1px #9AAFDD, inset 0 1px 10px 1px #ADBCEA;
    max-width: 900px;

}

.query-bubble__tick {
    display: none;
}


.query-bubble__tick a {
    color: white;
}

.query-bubble:hover .query-bubble__tick {
    display: flex;
}

.query-bubble:hover .query-bubble__question-mark {
    display: none;
} 


.query .fa-edit {
    margin-left: 1em;
 }


textarea {
    border-radius: 0.5em;
    background: rgba(255,255,255,0.37);
    border-radius: 21px;
    padding: 1em;
    box-shadow: 9px 7px 12px 1px #9AAFDD, inset 0 1px 10px 1px #ADBCEA;
    width: 40rem;
    border: none;
    font-family: 'Nunito', sans-serif;
}



/* OLD */
/* 
.courseMenu {
    display: flex;
}

.courseMenu:hover  .courseMenuContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    margin-left: 9vw; 
} 

.courseMenuContent > * {
    margin: 0.4rem;
}

.course {
    background-image: linear-gradient(180deg, #C28CF8 0%, #8D6AF2 100%);
    border-radius: 21px;
    text-decoration: none;
    color: white;
    padding: 0.6rem;
}

.add-btn {
    background-image: linear-gradient(180deg, #7367F0 0%, #CE9FFC 100%);
    font-family: Nunito-Black;
    font-size: 33px;
    color: #FFFFFF;
    text-align: left;
    text-shadow: 1px 1px 2px #9082E3;   
    text-decoration: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-block;
}
 */


