 @keyframes stretchOut {
    0% {
        transform: rotate(180deg)
    }


    100% {
        transform: rotate(0deg);
    }
} 

.nav-logo {
    animation: 500ms ease-out stretchOut;
} 

.compass {
    top: 0rem;
    right: 5rem;
    max-width: 100%;
    height: auto;

}



.landing {
    display: flex;
}



main {
    overflow: hidden;
    margin: 0rem;
}
