<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="73" height="80" viewBox="0 0 73 80">
  <defs>
    <linearGradient id="courses-icon-a" x1="50%" x2="50%" y1="0%" y2="100%">
      <stop offset="0%" stop-color="#7367F0"/>
      <stop offset="100%" stop-color="#CE9FFC"/>
    </linearGradient>
    <filter id="courses-icon-b" width="100%" height="100%" x="0%" y="0%" filterUnits="objectBoundingBox">
      <feGaussianBlur in="SourceGraphic"/>
    </filter>
    <linearGradient id="courses-icon-c" x1="21.32%" x2="78.726%" y1="0%" y2="100%">
      <stop offset="0%" stop-color="#FFF" stop-opacity=".2"/>
      <stop offset="100%" stop-color="#FFF" stop-opacity=".8"/>
    </linearGradient>
    <filter id="courses-icon-d" width="100%" height="100%" x="0%" y="0%" filterUnits="objectBoundingBox">
      <feGaussianBlur in="SourceGraphic"/>
    </filter>
    <linearGradient id="courses-icon-g" x1="0%" x2="100%" y1="47.86%" y2="52.14%">
      <stop offset="0%" stop-color="#FFF" stop-opacity=".684"/>
      <stop offset="99.956%" stop-color="#FFF"/>
    </linearGradient>
    <rect id="courses-icon-f" width="29" height="6" x="22" y="34" rx="3"/>
    <filter id="courses-icon-e" width="134.5%" height="266.7%" x="-13.8%" y="-66.7%" filterUnits="objectBoundingBox">
      <feMorphology in="SourceAlpha" operator="dilate" radius=".5" result="shadowSpreadOuter1"/>
      <feOffset dx="1" dy="1" in="shadowSpreadOuter1" result="shadowOffsetOuter1"/>
      <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1"/>
      <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.550340834   0 0 0 0 0.581557749   0 0 0 0 0.835752625  0 0 0 1 0"/>
    </filter>
    <linearGradient id="courses-icon-j" x1="0%" x2="100%" y1="45.5%" y2="54.5%">
      <stop offset="0%" stop-color="#FFF" stop-opacity=".684"/>
      <stop offset="99.956%" stop-color="#FFF"/>
    </linearGradient>
    <rect id="courses-icon-i" width="20" height="6" x="22" y="46" rx="3"/>
    <filter id="courses-icon-h" width="150%" height="266.7%" x="-20%" y="-66.7%" filterUnits="objectBoundingBox">
      <feMorphology in="SourceAlpha" operator="dilate" radius=".5" result="shadowSpreadOuter1"/>
      <feOffset dx="1" dy="1" in="shadowSpreadOuter1" result="shadowOffsetOuter1"/>
      <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1"/>
      <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0.550340834   0 0 0 0 0.581557749   0 0 0 0 0.835752625  0 0 0 1 0"/>
    </filter>
  </defs>
  <g fill="none" fill-rule="evenodd" transform="translate(-4 -2)">
    <rect width="61" height="69" x="10" y="9" fill="url(#courses-icon-a)" filter="url(#courses-icon-b)" rx="16" transform="rotate(19 40.5 43.5)"/>
    <rect width="61" height="69" x="4" y="2" fill="url(#courses-icon-c)" filter="url(#courses-icon-d)" rx="16"/>
    <use fill="#000" filter="url(#courses-icon-e)" xlink:href="#courses-icon-f"/>
    <use fill="url(#courses-icon-g)" xlink:href="#courses-icon-f"/>
    <use fill="#000" filter="url(#courses-icon-h)" xlink:href="#courses-icon-i"/>
    <use fill="url(#courses-icon-j)" xlink:href="#courses-icon-i"/>
  </g>
</svg>
